.App {
  text-align: center;
}


  .square {
    background: powderblue;
    border: 1px solid black;
    float: left;
    margin-right: 1px;
    margin-top: 25px;
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    line-height: 100px;
}


